@import "~@/styles/variables.scss";

.Content {
  width: 70%;
  //height: calc(100% - 20px);
  overflow: auto;
  margin: 20px auto 0;
  // Vars

  // Support

  // Module
  & {
    //
  }

  // Facets

  // States

}
