@import "~@/styles/variables.scss";

.Foot {
  background-color: $bottomFootBgColor;
  width: 100%;
  height: $bottomFootHeight;
  margin-bottom: 0;
  // Vars

  // Support

  // Module
  & {
    //
  }

  // Facets

  // States
}
